// Fonts -------------------------------------------------------------------------------------/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);

// Colors -------------------------------------------------------------------------------------/

// Primary palette (institucional)

$institutional-primary-color:#67B43A;

$institutional-secondary-color:#9EC42E;

$institutional-third-color:#CDD625;

// Secondary palette

$dev-primary-color:#ED7218;//(developers)
$dev-secondary-color:#F7A60A;//(developers)
$dev-third-color:#FFCC00;//(developers)

$couch-primary-color:#764896;//(coaching)
$couch-secondary-color:#A74C97;//(coaching)
$couch-third-color:#CA4F97;//(coaching)

$train-primary-color:#0075B6;//(training)
$train-secondary-color:#5495C8;//(training)
$train-third-color:#8BB2D7;//(training)

// Neutral palette

$dark-gray:#3C3C3B;
$medium-gray:#80807F;
$light-gray:#BCBCBC;